@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --dark-color: hsl(265, 25%, 25%);
  --foreground-color: hsl(265, 25%, 35%);
  --highlight-color: hsl(265, 100%, 85%);
  --bright-color: hsl(265, 25%, 90%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--dark-color);
  color: var(--bright-color);
}